.noidung .iconbook p {
    float: right;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    background-color: #3c9785;
}

.noidung .iconbook a {
    color: whitesmoke;
}

.noidung .iconbook a {
    min-height: 0px;
}

.noidung .iconbook i {
    display: block;
}

.noidung:hover {
    display: block;
}

.noidung a:hover {
    opacity: 0.8;
}

.noidung a {
    text-decoration: none;
}

.noidung .iconbook a {
    padding: 0px 0px 0px 0px;
    font-size: 11pt;
    color: white;
}