<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../admin.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>
</div>


<body>
    <div class="chinh">
        <div class="boxletf">

            <p>Accout | Logn in</p>
            <aside>
                <div class="logoid"><img src="https://images-na.ssl-images-amazon.com/images/I/81Xwtn3%2Bn6L._AC_SY741_.jpg"></div>
                <div class="name">NĐ-SY</div>
                <div class="name ad"><strong>ADMIN </strong></div>
                <div class="rowh"><i class='fas fa-align-justify' style='font-size:20px;color: gray; '></i> <a href="admin.php?act=qldm">Danh mục</a></div>
                <div class="rowh"><i class='fas fa-shopping-cart' style='font-size:20px;color: gray;'></i><a href="./product/product.html">Sản phẩm</a></div>
                <div class="rowh"><i class='fas fa-user-secret' style='font-size:20px;color: gray;'></i><a href="admin.php?act=qltg">Clients</a></div>
                <div class="rowh"><i class="fa fa-rocket" style="font-size:20px;color: gray;"></i><a href="admin.php?act=lgo">Carts</a></div>
                <div class="rowh igla"><i class='far fa-images' style='font-size:20px;color: gray;'></i><a href="#"><strong>I-Gallery</strong></a></div>
                <div class="search"><i class="material-icons" style="font-size:20px;color: gray;">search</i>
                    <input type="text">
                </div>
                <div class="line"></div>
                <div class="buttonfb"><i class='fab fa-facebook-f' style='font-size:15pt'></i></div>
                <ins>https://www.facebook.com/ndsy123</ins>
            </aside>
        </div>
    </div>


</body>